<!-- INCLUDE mcp_header.html -->
<table width="100%" cellspacing="0">
<tr>
	<td width="27" height="24" style="background:url('{T_THEME_PATH}/images/tl.gif');"></td>
	<td height="24" style="background:url('{T_THEME_PATH}/images/tm.gif');"><h4>{L_WHOIS}</h4></td>
    <td width="6" height="24" style="background:url('{T_THEME_PATH}/images/tr.gif');"></td>
</tr>
</table>

<table class="tablebg" width="100%" cellspacing="0">
<tr>
	<td class="row3" align="center"><span class="gensmall">{RETURN_POST}</span></td>
</tr>
<tr>
	<td class="row1"><pre>{WHOIS}</pre></td>
</tr>
</table>

<!-- INCLUDE mcp_footer.html -->